<html>
    <head>
        <style>
            .logdiv {
                margin-top:150px;
                width: 50%;
            }
            .div2 {
                margin-top:20px;
                width: 50%;
            }
            .button {
  background-color: #F4C6AD; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  color: black; 
}
        </style>
    </head>
<body bgcolor="FCFFE9">
    <div>
        <center>
            <h2>Welcome to Game Based Learning on AWS!!</h2>
            
                <form action="/Add2" method="post">
                    <div class="logdiv">
                        <h3>Login</h3>
                    </div>
                    <div class="div2">
                        <label for="fname">Username  :</label>
                        <input type="text" id="fname" name="fname"><br><br>
                    </div>
                    <div class="div2">
                        <label for="lname">Password  :</label>
                        <input type="text" id="lname" name="lname"><br><br>
                    </div>
                    <div class="div2">
                        <input class="button" type="submit" value="Submit">
                    </div>
                </form>    
        </center>
    </div>
</body>
</html> 