<html>

<head>
    <style>
        .logdiv {
            margin-top: 120px;
            width: 50%;
        }

        .div2 {
            margin-top: 35px;
            width: 50%;
        }

        input[type=text] {
            width: 40%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border-radius: 10px;
        }

        .button {
            background-color: #F4C6AD;
            /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 12px;
            color: black;
        }
    </style>

    <script>
        function checkScores() {
            var sc = 0;
            if (document.getElementById('q1-radio-choice-2').checked) {
                sc += 1;
            } if (document.getElementById('q2-radio-choice-3').checked) {
                sc += 1;

            } if (document.getElementById('q3-radio-choice-1').checked) {
                sc += 1;

            } if (document.getElementById('q4-radio-choice-3').checked) {
                sc += 1;

            } if (document.getElementById('q5-radio-choice-2').checked) {
                sc += 1;
            }
            window.alert("You scored " + sc + " point(s)!");

            document.getElementById('fname').value = new Number(sc);
        }
    </script>
</head>

<body bgcolor="FCFFE9">
    <div>
        <center>
            <h2>Welcome to Game Based Learning on AWS!!</h2>

            <form action="/Update" method="post">
                <div class="logdiv">
                    <h3>Welcome to your Math Quiz!</h3>
                </div>
                <div data-role="fieldcontain" class="div2">
                    <fieldset data-role="controlgroup">
                        <legend>What is capital of USA:</legend>
                        <input type="radio" name="q1-radio-choice-1" id="q1-radio-choice-1" value="q1-radio-choice-1"
                            checked="checked" />
                        <label for="q1-radio-choice-0">Miami</label>

                        <input type="radio" name="q1-radio-choice-1" id="q1-radio-choice-2" value="q1-radio-choice-2" />
                        <label for="q1-radio-choice-2">Washington DC</label>

                        <input type="radio" name="q1-radio-choice-1" id="q1-radio-choice-3" value="q1-radio-choice-3" />
                        <label for="q1-radio-choice-3">New York</label>

                        <input type="radio" name="q1-radio-choice-1" id="q1-radio-choice-4" value="q1-radio-choice-4" />
                        <label for="q1-radio-choice-4">Washington</label>
                    </fieldset>
                </div>
                <div data-role="fieldcontain" class="div2">
                    <fieldset data-role="controlgroup">
                        <legend>What is the capital of India:</legend>
                        <input type="radio" name="q2-radio-choice-1" id="q2-radio-choice-1" value="q2-radio-choice-1"
                            checked="checked" />
                        <label for="q2-radio-choice-0">Mumbai</label>

                        <input type="radio" name="q2-radio-choice-1" id="q2-radio-choice-2" value="q2-radio-choice-2" />
                        <label for="q2-radio-choice-2">Hyderabad</label>

                        <input type="radio" name="q2-radio-choice-1" id="q2-radio-choice-3" value="q2-radio-choice-3" />
                        <label for="q2-radio-choice-3">Delhi</label>

                        <input type="radio" name="q2-radio-choice-1" id="q2-radio-choice-4" value="q2-radio-choice-4" />
                        <label for="q2-radio-choice-4">Guwahati</label>
                    </fieldset>
                </div>
                <div data-role="fieldcontain" class="div2">
                    <fieldset data-role="controlgroup">
                        <legend>What is the capital of Turkey:</legend>
                        <input type="radio" name="q3-radio-choice-1" id="q3-radio-choice-1" value="q3-radio-choice-1"
                            checked="checked" />
                        <label for="q3-radio-choice-1">Ankara</label>

                        <input type="radio" name="q3-radio-choice-1" id="q3-radio-choice-2" value="q3-radio-choice-2" />
                        <label for="q3-radio-choice-2">Istanbul</label>

                        <input type="radio" name="q3-radio-choice-1" id="q3-radio-choice-3" value="q3-radio-choice-3" />
                        <label for="q3-radio-choice-3">Antakya</label>

                        <input type="radio" name="q3-radio-choice-1" id="q3-radio-choice-4" value="q3-radio-choice-4" />
                        <label for="q3-radio-choice-4">Amasya</label>
                    </fieldset>
                </div>
                <div data-role="fieldcontain" class="div2">
                    <fieldset data-role="controlgroup">
                        <legend>What is the capital of Japan:</legend>
                        <input type="radio" name="q4-radio-choice-1" id="q4-radio-choice-1" value="q4-radio-choice-1"
                            checked="checked" />
                        <label for="q4-radio-choice-1">Osaka</label>

                        <input type="radio" name="q4-radio-choice-1" id="q4-radio-choice-2" value="q4-radio-choice-2" />
                        <label for="q4-radio-choice-2">Kyoto</label>

                        <input type="radio" name="q4-radio-choice-1" id="q4-radio-choice-3" value="q4-radio-choice-3" />
                        <label for="q4-radio-choice-3">Tokyo</label>

                        <input type="radio" name="q4-radio-choice-1" id="q4-radio-choice-4" value="q4-radio-choice-4" />
                        <label for="q4-radio-choice-4">Kobe</label>
                    </fieldset>
                </div>
                <div data-role="fieldcontain" class="div2">
                    <fieldset data-role="controlgroup">
                        <legend>What is the capital of Canada:</legend>
                        <input type="radio" name="q5-radio-choice-1" id="q5-radio-choice-1" value="q5-radio-choice-1"
                            checked="checked" />
                        <label for="q5-radio-choice-1">Toronto</label>

                        <input type="radio" name="q5-radio-choice-1" id="q5-radio-choice-2" value="q5-radio-choice-2" />
                        <label for="q5-radio-choice-2">Ottawa</label>

                        <input type="radio" name="q5-radio-choice-1" id="q5-radio-choice-3" value="q5-radio-choice-3" />
                        <label for="q5-radio-choice-3">Vancouver</label>

                        <input type="radio" name="q5-radio-choice-1" id="q5-radio-choice-4" value="q5-radio-choice-4" />
                        <label for="q5-radio-choice-4">Montreal</label>
                    </fieldset>
                </div>
                <div>
                    <label for="fname"></label>
                    <input type="hidden" id="fname" name="fname"><br><br>
                </div>
                <div>
                    <label for="lname"></label>
                    <input type="hidden" id="lname" name="lname"><br><br>
                </div>
                <div>
                    <input class="button" type="submit" value="Submit" onclick="checkScores();">
                </div>
            </form>
        </center>
    </div>
</body>

</html>