<html>
    <head>
        <style>
            .logdiv {
                margin-top:120px;
                width: 50%;
            }
            .div2 {
                margin-top:40px;
                width: 50%;
            }
            .button {
  background-color: #F4C6AD; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  color: black; 
}
        </style>
    </head>
<body bgcolor="FCFFE9">
    <div>
        <center>
            <h2>Welcome to Game Based Learning on AWS!!</h2>
            
                
                    <div class="logdiv">
                        <h3>What would you like to do?</h3>
                    </div>
                    <div class="div2">
                        <form action="/Math" method="get">
                            <input class="button" type="submit" value="Math Quiz">
                        </form>
                    </div>
                    <div class="div2">
                        <form action="/Users" method="get">
                            <input class="button" type="submit" value="Geo Quiz">
                        </form>
                    </div>
                    <div class="div2">
                        <form action="/Users" method="get">
                            <input class="button" type="submit" value="Standings">
                        </form>
                    </div>
                    <div class="div2">
                        <form action="/Add" method="get">
                            <input class="button" type="submit" value="Logout">
                        </form>
                    </div>
        </center>
    </div>
</body>
</html> 